In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('df.csv',index_col= False)

#doing basic analysis on data
data.describe().T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,21287.0,8726.930004,5838.804783,0.000,3192.500,8514.000,13835.50,19157.000
enrollee_id,21287.0,16873.983652,9612.131237,1.000,8554.500,16967.000,25161.50,33380.000
city_development_index,21287.0,0.828462,0.123537,0.448,0.739,0.903,0.92,0.949
training_hours,21287.0,65.328510,60.075201,1.000,23.000,47.000,88.00,336.000
target,19158.0,0.249348,0.432647,0.000,0.000,0.000,0.00,1.000

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21287 entries, 0 to 21286
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              21287 non-null  int64
 1   enrollee_id             21287 non-null  int64
 2   city                    21287 non-null  object
 3   city_development_index  21287 non-null  float64
 4   gender                  16271 non-null  object
 5   relevent_experience     21287 non-null  object
 6   enrolled_university     20870 non-null  object
 7   education_level         20775 non-null  object
 8   major_discipline        18162 non-null  object
 9   experience              21217 non-null  object
 10  company_size            14727 non-null  object
 11  company_type            14513 non-null  object
 12  last_new_job            20824 non-null  object
 13  training_hours          21287 non-null  int64
 14  target                  19158 non-null  float64
dtypes: float64(2), int64(3), object(10)
memory usage: 2.4+ MB

In [4]:
data.head()

,Unnamed: 0,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
0,0,8949,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,NaN,NaN,1,36,1.0
1,1,29725,city_40,0.776,Male,No relevent experience,no_enrollment,Graduate,STEM,15,50-99,Pvt Ltd,>4,47,0.0
2,2,11561,city_21,0.624,NaN,No relevent experience,Full time course,Graduate,STEM,5,NaN,NaN,never,83,0.0
3,3,33241,city_115,0.789,NaN,No relevent experience,NaN,Graduate,Business Degree,<1,NaN,Pvt Ltd,never,52,1.0
4,4,666,city_162,0.767,Male,Has relevent experience,no_enrollment,Masters,STEM,>20,50-99,Funded Startup,4,8,0.0

In [5]:
data.isnull().sum()

Unnamed: 0                   0
enrollee_id                  0
city                         0
city_development_index       0
gender                    5016
relevent_experience          0
enrolled_university        417
education_level            512
major_discipline          3125
experience                  70
company_size              6560
company_type              6774
last_new_job               463
training_hours               0
target                    2129
dtype: int64

### going through each columns to get insigts

In [6]:
#parsing city
data['city_id'] = data['city'].apply(lambda x: x.split('_')[1])
data['city_id'].value_counts()

103    4828
21     3020
16     1701
114    1491
160     958
       ...
166       4
129       3
111       3
171       2
140       1
Name: city_id, Length: 123, dtype: int64

In [7]:
#city development percentage
data['city_dev_perc'] = data['city_development_index'].apply(lambda x: x*100)
data.city_dev_perc.value_counts()

92.0    5786
62.4    3020
91.0    1701
92.6    1491
69.8     770
        ...
78.1       4
64.9       4
82.4       4
62.5       3
66.4       2
Name: city_dev_perc, Length: 93, dtype: int64

In [8]:
data.experience.value_counts()

>20    3669
5      1593
4      1548
3      1508
6      1346
2      1255
7      1144
9      1093
10     1081
8       884
11      750
15      745
14      641
1       605
<1      596
16      576
12      546
13      453
17      378
19      333
18      306
20      167
Name: experience, dtype: int64

In [9]:
#creating experience class
entry = ['1','<1']
mid = ['2','3','4','5','6','7','8','9']
senior = ['10','11','12','13','14']
expert = ['15','16','17','18','19','20','>20']
def exp_class(exp):
    if exp in entry:
        return 'entry_lvl'
    elif exp in mid:
        return 'mid_lvl'
    elif exp in senior:
        return 'senior_lvl'
    elif exp in expert:
        return 'expert_lvl'
    else:
        return 'unknown'

In [10]:
data['experience_lvl'] = data['experience'].apply(exp_class)
data.experience_lvl.value_counts()

mid_lvl       10371
expert_lvl     6174
senior_lvl     3471
entry_lvl      1201
unknown          70
Name: experience_lvl, dtype: int64

In [11]:
data.company_size.value_counts()

50-99        3421
100-500      2889
10000+       2236
10/49        1643
<10          1471
1000-4999    1471
500-999       965
5000-9999     631
Name: company_size, dtype: int64

In [13]:
data.company_size = data.company_size.replace('10/49','10-49')
data.company_size.value_counts()

50-99        3421
100-500      2889
10000+       2236
10-49        1643
<10          1471
1000-4999    1471
500-999       965
5000-9999     631
Name: company_size, dtype: int64

In [14]:
#classifiying company by company size
small = ['<10','10-49','50-99']
mid_sized = ['100-500','500-999']
large = ['1000-4999','5000-9999']
very_large = ['10000+']
def com_class(size):
    if size in small:
        return 'small_company'
    elif size in mid_sized:
        return 'mid_size_company'
    elif size in large:
        return 'large_company'
    elif size in very_large:
        return 'very_large_company'
    else:
        return 'unknown'

In [15]:
data['company_class'] = data.company_size.apply(com_class)
data.company_class.value_counts()

unknown               6560
small_company         6535
mid_size_company      3854
very_large_company    2236
large_company         2102
Name: company_class, dtype: int64

In [16]:
# cleanig gender
def gender_class(x):
    if x == 'Male':
        return 1 # for male
    elif x == 'Female':
        return 2 # for female
    else:
        return 0 #for other

In [17]:
data['gender'] = data.gender.apply(gender_class)
data.gender.value_counts()

1    14681
0     5231
2     1375
Name: gender, dtype: int64

In [18]:
#last_new_job
data.last_new_job = data.last_new_job.replace('never',0)
data.last_new_job.value_counts()

1     8924
>4    3643
2     3242
0     2710
3     1157
4     1148
Name: last_new_job, dtype: int64

In [20]:
#Relevent_experience
data.relevent_experience.value_counts()

Has relevent experience    15316
No relevent experience      5971
Name: relevent_experience, dtype: int64

In [21]:
data.relevent_experience = data.relevent_experience.apply(lambda x: 1 if x == 'Has relevent experience' else 0)
data.relevent_experience.value_counts()

1    15316
0     5971
Name: relevent_experience, dtype: int64

In [ ]:
data.to_csv('.csv')