In [1]:
#importing libs
import pandas as pd
from sklearn.model_selection import train_test_split
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import mean_absolute_error
from sklearn.ensemble import RandomForestRegressor

In [2]:
#loading data
df = pd.read_csv('model_df.csv')

In [3]:
#applying get_dummies for catagorical data
model_df = pd.get_dummies(df)

In [4]:
model_df.shape

(19158, 43)

In [5]:
model_df

,Unnamed: 0,gender,relevent_experience,training_hours,target,city_id,city_dev_perc,enrolled_university_Full time course,enrolled_university_Part time course,enrolled_university_no_enrollment,...,experience_lvl_entry_lvl,experience_lvl_expert_lvl,experience_lvl_mid_lvl,experience_lvl_senior_lvl,experience_lvl_unknown,company_class_large_company,company_class_mid_size_company,company_class_small_company,company_class_unknown,company_class_very_large_company
0,0,1,1,36,1.0,103,92.0,0,0,1,...,0,1,0,0,0,0,0,0,1,0
1,1,1,0,47,0.0,40,77.6,0,0,1,...,0,1,0,0,0,0,0,1,0,0
2,2,0,0,83,0.0,21,62.4,1,0,0,...,0,0,1,0,0,0,0,0,1,0
3,3,0,0,52,1.0,115,78.9,0,0,0,...,1,0,0,0,0,0,0,0,1,0
4,4,1,1,8,0.0,162,76.7,0,0,1,...,0,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19153,19153,1,0,42,1.0,173,87.8,0,0,1,...,0,0,0,1,0,0,0,0,1,0
19154,19154,1,1,52,1.0,103,92.0,0,0,1,...,0,0,0,1,0,0,0,0,1,0
19155,19155,1,1,44,0.0,103,92.0,0,0,1,...,0,1,0,0,0,0,0,1,0,0
19156,19156,1,1,97,0.0,65,80.2,0,0,1,...,1,0,0,0,0,0,1,0,0,0
19157,19157,0,0,127,0.0,67,85.5,0,0,1,...,0,0,1,0,0,0,0,0,1,0

In [6]:
# creating train test data sets
from sklearn.model_selection import train_test_split
x = model_df.drop('target',axis=1)
y = model_df['target']
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=2)

## Applying models

### Logistic Regression

In [7]:
# applying logistic regression
lr = LogisticRegression()

In [8]:
lr.fit(x_train,y_train)

C:\Users\Hp\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [9]:
#fixing

In [12]:
from sklearn import preprocessing
scaler = preprocessing.StandardScaler().fit(x_train)

In [13]:
scaler = preprocessing.StandardScaler().fit(x_train)
scaler.mean_

array([9.57114838e+03, 8.17825917e-01, 7.20214015e-01, 6.53882944e+01,
       8.03911653e+01, 8.28593501e+01, 1.94767063e-01, 6.21166645e-02,
       7.23933185e-01, 6.02244552e-01, 1.05050241e-01, 2.31045283e-01,
       2.16625343e-02, 1.57249119e-02, 1.40936970e-02, 1.73561268e-02,
       3.47775023e-02, 1.17447475e-02, 1.90525904e-02, 7.56296490e-01,
       3.17108182e-02, 5.14158946e-02, 2.74696594e-02, 6.59010831e-03,
       5.01109226e-02, 5.12266736e-01, 1.25342555e-01, 4.23137153e-01,
       1.50789508e-01, 5.27861151e-02, 5.32428553e-02, 1.72843534e-01,
       5.60485450e-02, 2.89964766e-01, 4.85058071e-01, 1.65731437e-01,
       3.19718126e-03, 9.79381443e-02, 1.78911653e-01, 3.06276915e-01,
       3.10191831e-01, 1.06681456e-01])

In [14]:
scaler.scale_

array([5.51696270e+03, 5.24573611e-01, 4.48893960e-01, 6.02431577e+01,
       4.66019374e+01, 1.23439049e+01, 3.96021280e-01, 2.41367323e-01,
       4.47050253e-01, 4.89434420e-01, 3.06618147e-01, 4.21501317e-01,
       1.45579081e-01, 1.24409160e-01, 1.17877329e-01, 1.30594379e-01,
       1.83215795e-01, 1.07734899e-01, 1.36709872e-01, 4.29315862e-01,
       1.75229114e-01, 2.20844516e-01, 1.63447475e-01, 8.09115491e-02,
       2.18173825e-01, 4.99849505e-01, 3.31106930e-01, 4.94056781e-01,
       3.57843586e-01, 2.23606219e-01, 2.24517379e-01, 3.78111950e-01,
       2.30015446e-01, 4.53745744e-01, 4.99776689e-01, 3.71839384e-01,
       5.64531602e-02, 2.97230995e-01, 3.83278324e-01, 4.60946164e-01,
       4.62572004e-01, 3.08707828e-01])

In [18]:
x_scaled = scaler.transform(x_train)

In [17]:
lr.fit(x_scaled,y_train)

LogisticRegression()

In [19]:
pred = lr.predict(x_test)

In [20]:
mean_absolute_error(y_test,pred)

0.5636743215031316

## Random forest

In [22]:
rf = RandomForestRegressor()

In [23]:
rf.fit(x_train,y_train)

RandomForestRegressor()

In [24]:
pred1 = rf.predict(x_test)

In [25]:
mean_absolute_error(y_test,pred1)

0.282562630480167